<div class="row text-white">
    <h1 class="text-white">Mapas de calor</h1>
    <div class="col text-white">
        <h1>Temporada</h1>
        <img  src="{{heatMapS}}"/>
    </div>
    <div class="col text-white">
        <h1>Partido</h1>
        <img src="{{heatMapM}}"/>
    </div>
</div>
<div class="row">
    <h1 class="text-white">Zonas de acción</h1>
    <div class="col text-white">
        <h1>Temporada</h1>
        <img src="{{action}}"/>
    </div>
    <div class="col text-white">
        <h1>Partido</h1>
        <img src="{{actions}}"/>
    </div>
</div>
<div class="row">
    <h1 class="text-white">Remates</h1>
    <div class="col text-white">
        <h1>Temporada</h1>
        <img src="{{goals}}"/>
    </div>
    <div class="col text-white">
        <h1>Partido</h1>
        <img src="{{goal}}"/>
    </div>
</div>